Repository luanti-org/docs.luanti.org, pull requests merged in 2024-12, with the labels that each got.

#10 Indent thread responsibilities under thread names
  content/Engine/Structure.md
Labels: formatting

#13 rename minetest to luanati
  content/Changelog.md
  content/Development_Tools.md
  content/Development_troubleshooting.md
  content/Engine/NMPR.md
  content/Engine/_index.md
  content/Introduction_to_L-system_trees.md
  content/L-system_tree_examples.md
  content/Lua_Optimization_Tips.md
  content/Lua_code_style_guidelines.md
  content/Mapgen_Parameters.md
  content/Mapgen_memory_optimisations.md
  content/Meetings.md
  content/Minetest_Schematic_File_Format.md
  content/Mod_interoperability.md
  content/Modding_Intro.md
  content/Modding_Tips.md
  content/OldChangelog.md
  content/Player_physics.md
  content/Releasing_Luanti.md
  content/Spawn_Algorithm.md
  content/Translation.md
  content/_index.md
  content/schematic.md
Labels: Site Feature

#81 MTG content removal and overhauling part 1
  content/building.md
  content/mapgen/_index.md
  content/mapgen/custom-lua-mapgen.md
  content/mapgen/flat.md
  content/mapgen/v5.md
  content/mapgen/v6.md
  content/mapgen/v7.md
  content/mapgen/valleys.md
Labels: Content

#111 Add "Developing Luanti for Android"
  content/developing-luanti-for-android.md
  static/images/developing_for_android/choose_bundle_format.png
  static/images/developing_for_android/create_keystore.png
  static/images/developing_for_android/generate_bundle.png
  static/images/developing_for_android/open_folder.png
  static/images/developing_for_android/pngout.png
  static/images/developing_for_android/run.png
  static/images/developing_for_android/sign.png
Labels: Content

#115 Clean up & extend Lua code style guidelines
  content/engine-dev-process/lua-code-style-guidelines.md
Labels: Content, Discussion
